<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }} :: jangler.info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
  </head>
  <body><div class="column">
    <div class="section"><table style="width: 100%;"><tr>
      <td><h1>jangler.info</h1></td>
      <td><p style="color: #6e6d6a;">
        <a href="/" style="color: #783c36;">news</a> /
        <a href="/music/" style="color: #2f5235;">music</a> /
        <a href="/code/" style="color: #584726;">code</a> /
        <a href="/links" style="color: #324a77;">links</a> /
        <a href="/botb/" style="color: #653e60;">botb</a> /
        <a href="/contact" style="color: #1b545f;">contact</a>
      </p></td>
    </tr></table></div>
    <div class="nav"><p><em>{{ title }}</em></p></div>
  </div></body>
</html>
